<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <parameter name="param" value="'I am beforeMethod'"/>
    <parameter name="BrowserName" value="Firefox"/>
    <parameter name="UserName" value="demo"/>
    <parameter name="Passcode" value="PASSWORD"/>
  <groups>
  	<run>
  		<include name="Test1"/>
      <include name="Regression"/>
  	</run>
  </groups>
    <packages>
    	<package name="Lab05"/>
    	<package name="Lab06"/>
    </packages>
    <classes>
     <class name="Lab05.TimKiem"/>
       <class name="Lab05.SearchTitle"/>
       <class name="Lab06.TestClass"/>
       <class name="Lab06.ParametersTesting"/>
    </classes>
    </test>
</suite> <!-- Suite -->
